@charset "utf-8";
body{
    background-color: #E8D9BF; 
}

/* ヘッダー部 */
.header_inner{
    display: flex;   
    justify-content: space-between;
    /* 54/1990/ = 0.02713568 */
    padding-left: 2.71%;
    /* 145/1990 =0.072864 */
    padding-right: 7.28%;
    padding-top: 10px;
    align-items: center;
    position: absolute;
    width: 100%;   
}
.header_nav ul{
    display: flex;
    gap: 60px;
}
.header_nav li{
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.header_inner h1{
    width: 227px;
}

/* メイン */
.main{
    margin: auto;
    max-width: 1000px;
}

.main_text{
    font-size: 30px;
    line-height: 1.75;
    margin-top: 110px;
    text-align: center;
    margin-bottom: 65px;
    max-width: 1000px
}
h2{
    font-size: 82px;
    font-weight: 400;
    line-height: 1.1829;
    margin-bottom: 46px;
    margin: auto;
    text-align: center;
    max-width: 1000px;
}
.main_text2 {
    font-size: 23px;
    line-height: 1.652717;
    margin: auto; 
    margin-top: 46px;
    margin-bottom: 100px;
    max-width: 1000px; 
    text-align: center;   
}

/*ABOUT US 私たちについて */
#aboutus{
    max-width: 1000px;
    margin: auto;
}
.aboutus_wrapper{
    display: flex;
    margin: 0px 10px;
}
h3{ width: 275px;
}
.subtitle_text{
width: 410px;
margin-top: 40px;
line-height: 1.625;
}
.aboutus_inner{
    margin-left: 80px;
}
.about_us{
    width: 50%;
}
.aboutus_img img{
    object-fit: cover;
    border-bottom-right-radius: 50px;
}
.abutuslogo_img{
    width: 275px;
}
.subtitle{
    font-size: 44px;
    line-height: 1.3863;
    /* width: 352px; */
    margin-top: 60px;
}
.subtitle p{
    font-size: 16px;
    width: 410px;
}
/* MENU メニュー */
#menu{
    max-width: 1000px;
    margin: auto;
} 
h4{
    width: 151px;
    margin: auto;
    margin-bottom: 48px;
    margin-top: 110px;
}
.menu_detail img{
    border-top-right-radius: 50px;
}
.menu_wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    gap: 20px;
    max-width: 1000px;
}
    
.sub_menu_inner{
    font-size: 38px;
    color: #d30202;
    position: relative;
    top: -10px;
    left: 10px;
}
.text{
    line-height: 1.4705;
    margin-top: 4px;
}
.menu_detail jpg{
    object-fit: cover;
    border-bottom-right-radius: 50px
}

/* フォトギャラリー GALLERY */
h5 {
    width: 245px;
    margin: auto;
    margin-bottom: 26px;
    margin-top: 100px;
}
.gallery_inner{
    display: flex;
}
.gallery_inner img{
    display: flex;
    width: 20%;
}

/* イベント情報 */
#event{
    max-width: 1000px;
    margin: auto;
}
h6{
    width: 173px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 40px;
}
.event_inner nav{
    background-color: #fff;
    border: solid 4px #4f260b;
    box-sizing: border-box;
    margin: 0px 10px;
}
ul{
    margin: 40px 0px;
}
li{
    display: flex;
    font-size: 23px;
    gap: 50px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.95;
    line-height: 1.95;
    text-align: center;
}
li p{
    line-height: 1.9565;
}
span{
    border-bottom: solid 1px #4f260b;
}

/* アクセス MAP */
.acesslogo{
    width: 213px;
    max-width: 1000px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 47px;
}
.googlmap{
    width: 100%;
    margin: auto;
    text-align: center;
    filter: grayscale(100%) invert(92%) contrast(83%);
}
.googlmap iframe{
    width: 100%;
}

/* フッター */
.footer{
    max-width: 100%;
    background-color: none;
    font-size: 12px;
    background-color: #fff;
    display: flex;
}
.footer_inner img{
    width: 226px;
    height: 50px;
}
.footer_inner{
    display: flex;
    margin: auto;
    max-width: 1000px;
    margin-top: 85px;
}
.adress{
    margin-left: 65px;
}
.adress p{
    color: black;
    line-height: 1.95; 
}


/* トップに戻るボタン */
.totoptpbtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

/* コピーライト */
.copyright{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    color: black;
    background-color: white;
    font-size: 16px;
}









